.top-bar-infos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}

.logout-button {
  cursor: pointer;
  margin-left: 16px;
}
