.header-container {
  max-width: 644px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading-container-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backIcon {
  margin-right: 12px;
}

.add-role-input-container {
  max-width: 375px;
}

.role-icons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 21px;
  margin-bottom: 31px;
}

.icons-container {
  display: flex;
  gap: 16px;
}

.role-icon {
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.permissions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 64px;
}

.button-container {
  display: flex;
  gap: 24px;
}
